In [1]:
from os import path
from bs4 import BeautifulSoup
import pandas as pd

METADATA_DESTINATION = '../dataset/imdb_crop/'
METADATA_CROPPED_FILE_MATLAB = METADATA_DESTINATION + 'imdb.mat'

In [3]:
''' scraping purpose
names = open('names.html', 'r', errors='ignore')
actors = open("500actors.txt", 'w')
'''

SyntaxError: EOF while scanning triple-quoted string literal (Temp/ipykernel_29128/3710662835.py, line 4)

In [97]:
'''
actors_names = []
soup = BeautifulSoup(names, 'html.parser')
for s in soup.findAll('span'):
    if not('<img' in str(s.contents[0])) and not('<span' in str(s.contents[0])):
        if not(s.contents[0].isdigit()) and not('%' in str(s.contents[0])):
            if s.contents[0] != 'Global Sites' and s.contents[0] != 'Company':
                actors_names.append(s.contents[0])
'''

In [99]:
'''
for a in actors_names:
    actors.write(a + ';')
'''

In [13]:
actors = open("500actors.txt", 'r')
actors = actors.read().split(';')[:-1]
len(actors)

1481

In [14]:
head, tail = path.split(METADATA_CROPPED_FILE_MATLAB)
path_serialized = path.join(head, 'imdb.pickle')
df = pd.read_pickle(path_serialized)
df.head()

,age,gender,full_path,name,face_location,face_score,photo_taken,celeb_id,second_face_score,dob,standard_dob
0,68,1.0,01/nm0000001_rm124825600_1899-5-10_1968.jpg,Fred Astaire,"[1072.926, 161.838, 1214.7839999999999, 303.69...",1.459693,1968,6488,1.118973,693726,1900
1,70,1.0,01/nm0000001_rm3343756032_1899-5-10_1970.jpg,Fred Astaire,"[477.184, 100.352, 622.592, 245.76]",2.543198,1970,6488,1.852008,693726,1900
3,68,1.0,01/nm0000001_rm946909184_1899-5-10_1968.jpg,Fred Astaire,"[622.8855056426588, 424.21750383700805, 844.33...",1.872117,1968,6488,NaN,693726,1900
4,68,1.0,01/nm0000001_rm980463616_1899-5-10_1968.jpg,Fred Astaire,"[1013.8590023603723, 233.8820422075853, 1201.5...",1.158766,1968,6488,NaN,693726,1900
5,66,0.0,02/nm0000002_rm1075631616_1924-9-16_1991.jpg,Lauren Bacall,"[686.6768205940973, 458.4672137293982, 1198.10...",3.490563,1991,11516,1.345335,702986,1925

In [15]:
df_500actors = pd.DataFrame(columns=df.columns)
for actor in actors:
    q = 'name=="' + actor + '"'
    df_500actors = pd.concat([df_500actors, df.query(q)])
df_500actors.reset_index()

,index,age,gender,full_path,name,face_location,face_score,photo_taken,celeb_id,second_face_score,dob,standard_dob
0,17156,75,1.0,51/nm0000151_rm1071620864_1937-6-1_2013.jpg,Morgan Freeman,"[792.2451384587582, 511.2861558956442, 948.236...",1.676097,2013,14122,NaN,707627,1938
1,17159,75,1.0,51/nm0000151_rm1134012160_1937-6-1_2013.jpg,Morgan Freeman,"[975.2079502486731, 187.41180004736628, 1181.6...",0.880068,2013,14122,NaN,707627,1938
2,17162,75,1.0,51/nm0000151_rm1167566592_1937-6-1_2013.jpg,Morgan Freeman,"[1432.388812468628, 491.37512005505687, 1769.1...",1.511784,2013,14122,0.897216,707627,1938
3,17164,74,1.0,51/nm0000151_rm1182968320_1937-6-1_2012.jpg,Morgan Freeman,"[423.486473844671, 283.00698256311404, 1053.59...",2.950409,2012,14122,NaN,707627,1938
4,17169,54,1.0,51/nm0000151_rm1265159680_1937-6-1_1992.jpg,Morgan Freeman,"[1590.3480236143484, 389.49876330044805, 2017....",3.109534,1992,14122,1.875366,707627,1938
...,...,...,...,...,...,...,...,...,...,...,...,...
79761,304644,49,1.0,16/nm0148516_rm2827603712_1964-6-3_2014.jpg,Aleksey Serebryakov,"[604.2967631446854, 171.43046463444276, 771.63...",3.848068,2014,426,2.681266,717491,1965
79762,304645,49,1.0,16/nm0148516_rm2844380928_1964-6-3_2014.jpg,Aleksey Serebryakov,"[1099.776, 149.504, 1245.184, 294.912]",3.400708,2014,426,2.082423,717491,1965
79763,304646,49,1.0,16/nm0148516_rm2995375872_1964-6-3_2014.jpg,Aleksey Serebryakov,"[1582.4422769175164, 493.7262194854495, 1896.4...",3.356085,2014,426,2.316574,717491,1965
79764,304647,49,1.0,16/nm0148516_rm3028930304_1964-6-3_2014.jpg,Aleksey Serebryakov,"[445.8115415013483, 365.1272612283759, 806.842...",4.723559,2014,426,2.973913,717491,1965
79765,304648,49,1.0,16/nm0148516_rm3079261952_1964-6-3_2014.jpg,Aleksey Serebryakov,"[465.45750011841574, 280.09370007104945, 880.4...",4.311066,2014,426,0.749320,717491,1965

In [16]:
len(df_500actors)

79766

In [17]:
df_500actors = df_500actors[df_500actors.full_path != "04/nm0000204_rm3206975232_1981-6-9_2002.jpg"]
len(df_500actors)

79765

In [18]:
head, tail = path.split(METADATA_CROPPED_FILE_MATLAB)
path_serialized = path.join(head, 'imdb_500actors.pickle')
df_500actors.to_pickle(path_serialized)

In [19]:
df_500actors = pd.read_pickle(path_serialized)
df_500actors.head()

,age,gender,full_path,name,face_location,face_score,photo_taken,celeb_id,second_face_score,dob,standard_dob
17156,75,1.0,51/nm0000151_rm1071620864_1937-6-1_2013.jpg,Morgan Freeman,"[792.2451384587582, 511.2861558956442, 948.236...",1.676097,2013,14122,NaN,707627,1938
17159,75,1.0,51/nm0000151_rm1134012160_1937-6-1_2013.jpg,Morgan Freeman,"[975.2079502486731, 187.41180004736628, 1181.6...",0.880068,2013,14122,NaN,707627,1938
17162,75,1.0,51/nm0000151_rm1167566592_1937-6-1_2013.jpg,Morgan Freeman,"[1432.388812468628, 491.37512005505687, 1769.1...",1.511784,2013,14122,0.897216,707627,1938
17164,74,1.0,51/nm0000151_rm1182968320_1937-6-1_2012.jpg,Morgan Freeman,"[423.486473844671, 283.00698256311404, 1053.59...",2.950409,2012,14122,NaN,707627,1938
17169,54,1.0,51/nm0000151_rm1265159680_1937-6-1_1992.jpg,Morgan Freeman,"[1590.3480236143484, 389.49876330044805, 2017....",3.109534,1992,14122,1.875366,707627,1938

In [20]:
df_500actors.describe()

             gender    face_score  second_face_score
count  79765.000000  79765.000000       44137.000000
mean       0.597129      3.302833           2.491896
std        0.490478      1.229054           1.096539
min        0.000000      0.730919           0.730930
25%        0.000000      2.388378           1.596038
50%        1.000000      3.303640           2.382068
75%        1.000000      4.235855           3.290962
max        1.000000      7.381689           6.102236